#about {
  width: 100%;
  height: 100vh;
  position: relative; }
  #about .row {
    margin-right: 0;
    margin-left: 0; }
  #about #abt {
    width: 100%;
    height: 100vh;
    background: url("../images/abt.png");
    background-size: cover; }
  #about #abt-write {
    width: 100%;
    height: 100vh;
    background-color: orange; }
  #about #abt-write .abt-content {
    width: 70%;
    margin-right: auto;
    margin-left: 10%;
    padding-top: 20%; }
  #about .abt-content .btn-default {
    margin-top: 100px; }
  #about .col-abt {
    padding: 0; }
  #about #abt-write h2 {
    margin: 0;
    margin-bottom: 20px; }
