#landing {
  position: relative; }

.carousel #img1 {
  background: url("../images/landing/splash.jpg");
  min-width: 100%;
  height: 100vh;
  background-size: cover; }

.carousel #img2 {
  background: url("../images/landing/img2.jpg");
  min-width: 100%;
  height: 100vh;
  background-size: cover; }

.carousel #img3 {
  background: url("../images/landing/img3.jpg");
  min-width: 100%;
  height: 100vh;
  background-size: cover; }

.carousel #img4 {
  background: url("../images/landing/img4.jpg");
  min-width: 100%;
  height: 100vh;
  background-size: cover; }

.carousel #img5 {
  background: url("../images/landing/img5.jpg");
  min-width: 100%;
  height: 100vh;
  background-size: cover; }
