.navbar {
  margin-bottom: 0; }
  .navbar #business-name {
    color: orange;
    font-family: "Lobster", sans-serif;
    font-size: 1.5em; }

.navbar-default {
  background: transparent;
  border: transparent; }
