#about{
	width: 100%;	
	height: 100vh;
	position: relative;

	.row{
	margin-right: 0;
	margin-left: 0;
	}

	#abt{
	width: 100%;
	height: 100vh;
	background: url('../images/about/abt.png');
	background-size: cover;
	}

	#abt-write{
	width: 100%;
	height: 100vh;
	background-color: orange;	
	}

	#abt-write .abt-content{
	width: 70%;
	margin-right: auto;
	margin-left: 10%;
	padding-top: 20%;
	color: white;
	text-shadow: 0px 0px 3px $white-text-shadow;
	}

	.abt-content .btn-default{
	border: 2px #E1A33C solid;
    background-color: #E7AD49;
	margin-top: 100px;
	color: white;	
	text-shadow: 0px 0px 3px $white-text-shadow;
	}

	.col-abt {
	padding: 0;
	}

	#abt-write h2{
	margin: 0;
	margin-bottom: 20px;
	text-shadow: 0px 0px 3px $white-text-shadow;
	}
}
