footer{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #172228;
	color: white;

	.cnt_images{
	display: inline-block;
	padding: 5px;
	background-color: $footer-logo-bg;
	width: 30px;
    text-align: center;
    border-radius: 2px;
	}

	.cnt_images_twitter{
	display: inline-block;
	padding: 5px;
	background-color: $twitter-logo-bg;
	width: 30px;
    text-align: center;
    border-radius: 2px;
	}
}