@mixin carousel-settings()
{
	min-width: 100%;	
	height: 100vh;
	background-size: cover;
}


#landing{
	position: relative;
}

.carousel {	

	#img1{
		background: url('../images/splash.jpg');
		@include carousel-settings();
	}

	#img2{
		background: url('../images/img2.jpg');
		@include carousel-settings();
	}

	#img3{
		background: url('../images/img3.jpg');
		@include carousel-settings();
	}

	#img4{
		background: url('../images/img4.jpg');
		@include carousel-settings();
	}

	#img5{
		background: url('../images/img5.jpg');
		@include carousel-settings();
	}
}