.navbar {
	margin-bottom: 0;
	
	#business-name{
		color: orange;
		font-family: "Lobster", sans-serif;
		font-size: 1.5em;
	}
}

.navbar-default{
	background: transparent;
	border:transparent;	
}

.navbar-default .navbar-nav>li>a{
	color: $nav-text-color;
	font-weight: 400;
}