#offerings{
	width: 100%;	
	/*height: 100vh;*/ /*never set height in case of content based elements*/
	position: relative;

	.container{
	padding-bottom: 20px;
	}

	h1{
	//border-top: 20px solid grey;
	margin: 0;
	text-align: center;
	padding-top: 50px;
	color: $blue-bg-color;
	text-shadow: 0px 0px 3px $blue-bg-color;
	text-transform: uppercase;
	}

	h3{
	text-align: center;
	margin: 0;
	padding-bottom: 40px;
	text-shadow: 0px 0px 3px $black-text-shadow;
	}

	.text-writeup{
		text-shadow: 0px 0px 1px $black-text-shadow;
	}

	.title{
	text-align: left;
	padding-bottom: 5px;
	}

	.info{
	margin: 20px 0;
	}
}