@mixin img-settings()
{
	width: 25vw;
	height: 18vw;
	background-size: cover;	
}


#portfolio{
	width: 100%;	
	text-align: center;
	padding-top: 50px;

	.symbol{
		width: 20%;
		margin: auto;
		padding-bottom: 20px;

		hr {
			height: 5px;
			color: #F2E8D3;
			background-color: #F2E8D3;
			border: none;
			}

		.line{
			width: 35%;
			display: inline-block;	
			margin: 0;
		}
		

	}

	h3{
		color: $blue-bg-color;
		text-shadow: 0px 0px 3px $blue-bg-color;
	}

	.text-writeup{
		text-shadow: 0px 0px 1px $black-text-shadow;
	}

	.container-fluid{
	padding-left: 0;
	}

	p{
	padding: 0 25%;
	}

	.btn-group{
	padding-top: 50px;
	padding-bottom: 30px;
	}

	#port_img1{	
	background: url('../images/portfolio/portfolio1.png');
	@include img-settings();
	}

	#port_img2{	
	background: url('../images/portfolio/portfolio_img2.png');
	@include img-settings();
	}

	#port_img3{	
	background: url('../images/portfolio/portfolio_img3.png');
	@include img-settings();
	}

	#port_img4{	
	background: url('../images/portfolio/portfolio_img4.png');
	@include img-settings();
	}

	#port_img5{	
	background: url('../images/portfolio/portfolio_img5.png');
	@include img-settings();
	}

	#port_img6{	
	background: url('../images/portfolio/portfolio_img6.png');
	@include img-settings();
	}

	#port_img7{	
	background: url('../images/portfolio/portfolio_img7.jpg');
	@include img-settings();
	}

	#port_img8{	
	background: url('../images/portfolio/portfolio_img8.png');
	@include img-settings();
	}

	.img-container{
	padding: 0;
	}
}