$blue-bg-color: #7C9ABC;
$blue-border-color: #7589A2;
$footer-logo-bg: #2B3942;
$twitter-logo-bg: #6FB8D9;
$footer-email-field-bg: #172228;
$cnt-submit-btn-bg: #70B5D6;
$nav-text-color: #BDAFB8;
$white-text-shadow: #eee;
$black-text-shadow: #333;